body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #35424a;
    margin-bottom: 20px;
}

#webcam-container {
    margin: 20px 0;
    border: 2px solid #1abc9c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#label-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label-container div {
    background: #ffffff;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #1abc9c; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1em; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    margin-top: 15px; /* Espaçamento acima do botão */
}

button:hover {
    background-color: #16a085; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}